<!DOCTYPE HTML>
<html>
<head>
<title>企业后台管理-发布信息</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="css/font-awesome.css" rel="stylesheet"> 

<link href="images/favicon.ico" rel="shortcut icon">

<!-- jQuery -->
<!-- lined-icons -->
<link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<!-- chart -->
<script src="js/Chart.js"></script>
<!-- //chart -->
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->

 <!-- Meters graphs -->
<script src="js/jquery-1.10.2.min.js"></script>
<!-- Placed js at the end of the document so the pages load faster -->


	<!--富文本编辑器-->
	<script type="text/javascript" charset="utf-8" src="/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="/ueditor.all.js"> </script>
	<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
	<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
	<script type="text/javascript" charset="utf-8" src="/lang/zh-cn/zh-cn.js"></script>


	<!--加入内部的选择框-->
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<link href="style/authority/basic_layout.css" rel="stylesheet" type="text/css">
	<link href="style/authority/common_style.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="scripts/authority/commonAll.js"></script>
	<style>
		.alt td{ background:black !important;}
	</style>


<script type="text/javascript">
$(document).ready(function(){
	var username="[[${user.username}]]";
	  $("#toUserIndex").click(function(){
	    $("#toUserIndex").attr("href","/user/index/"+username);
	  });
	  $("#toUserAirplaneInfo").click(function(){
		    $("#toUserAirplaneInfo").attr("href","/user/AirplaneInfo/"+username);
	  });
	  $("#toUserTransportInfo").click(function(){
		    $("#toUserTransportInfo").attr("href","/user/TransportInfo/"+username);
	  });
	  $("#toUserPublishTransportInfo").click(function(){
		    $("#toUserPublishTransportInfo").attr("href","/user/publishCarInfo/"+username);
	  });
	  $("#toUserPublishAirplaneInfo").click(function(){
		    $("#toUserPublishAirplaneInfo").attr("href","/user/PublishAirplaneInfo/"+username);
	  });
	  $("#toDropdownUserTransportInfo").click(function(){
		 	 $("#toDropdownUserTransportInfo").attr("href","/user/TransportInfo/"+username);
	  });
	  $("#toDropdownUserAirplaneInfo").click(function(){
		 	 $("#toDropdownUserAirplaneInfo").attr("href","/user/AirplaneInfo/"+username);
	  });
	  
	});
</script>
</head> 
   
 <body class="sticky-header left-side-collapsed"  onload="initMap()">
    <section>
    <!-- left side start-->
		<div class="left-side sticky-left-side">

			<!--logo and iconic logo start-->
			<div class="logo">
				<h1><a id="toUserIndex" href="">企业后台 <span>管理</span></a></h1>
			</div>
			<div class="logo-icon text-center">
				<a id="toUserIndex"><i class="lnr lnr-home"></i> </a>
			</div>

			<!--logo and iconic logo end-->
			<div class="left-side-inner">

				<!--sidebar nav start-->
					<ul class="nav nav-pills nav-stacked custom-nav">
						<li><a id="toUserIndex" href=""><i class="lnr lnr-power-switch"></i><span>首页</span></a></li>
						<li class="menu-list">
							<a href="#"><i class="lnr lnr-cog"></i>
								<span>运输信息</span></a>
								<ul class="sub-menu-list">
									<li><a id="toUserTransportInfo" href="">车源信息</a> </li>
									<li><a id="toUserAirplaneInfo" href="">空运信息</a></li>
								</ul>
						</li>
						<li class="menu-list">
							<a href="#"><i class="lnr lnr-spell-check"></i>
								<span>发布信息</span></a>
							<ul class="sub-menu-list">
								<li class="active"><a id="toUserPublishTransportInfo" href="">车源发布</a> </li>
								<li><a id="toUserPublishAirplaneInfo" href="">空运发布</a></li>
							</ul>
						</li>
					</ul>
				<!--sidebar nav end-->
			</div>
		</div>
    <!-- left side end-->
    
    <!-- main content start-->
		<div class="main-content main-content3">
			<!-- header-starts -->
			<div class="header-section">
			 
			<!--toggle button start-->
			<a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
			<!--toggle button end-->

			<!--notification menu start -->
			<div class="menu-right">
				<div class="user-panel-top">  	
					<div class="profile_details">
						<ul>
							<li class="dropdown profile_details_drop">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<div class="profile_img">	
										<span style="background:url(images/1.jpg) no-repeat center"> </span> 
										 <div class="user-name">
											<p>[(${user.username})]</p><span>[(${user.companyname})]</span>
										 </div>
										 <i class="lnr lnr-chevron-down"></i>
										 <i class="lnr lnr-chevron-up"></i>
										<div class="clearfix"></div>	
									</div>	
								</a>
								<ul class="dropdown-menu drp-mnu">
				<li> <a id="toDropdownUserTransportInfo" href=""><i class="fa fa-user"></i>车源信息</a> </li> 
									<li> <a id="toDropdownUserAirplaneInfo" href=""><i class="fa fa-user"></i>空运信息</a> </li> 
									<li> <a href="logout"><i class="fa fa-sign-out"></i> 退出</a> </li>
								</ul>
							</li>
							<div class="clearfix"> </div>
						</ul>
					</div>		
					<div class="social_icons">
						<div class="col-md-4 social_icons-left">
						</div>
						<div class="col-md-4 social_icons-left pinterest">
						</div>
						<div class="col-md-4 social_icons-left twi">
						</div>
						<div class="clearfix"> </div>
					</div>			             	
					<div class="clearfix"></div>
				</div>
			</div>
			<!--notification menu end -->
			</div>
	<!-- //header-ends -->
			<div id="page-wrapper" style="width: 100%">

				<div class="graphs">
						<input type="hidden" name="allIDCheck" value="" id="allIDCheck"/>
						<input type="hidden" name="fangyuanEntity.fyXqName" value="" id="fyXqName"/>
						<div id="container">
							<div class="ui_content">
								<div class="ui_text_indent">
									<div id="box_border">
										<div id="box_top">车源信息发布</div>
										<form id="submitForm" name="submitForm" action="#" method="post">
											<!--<input type="hidden" name="fyID" value="14458625716623" id="fyID"/>-->
											<div id="container">
												<div class="ui_content">
													<table  cellspacing="0" cellpadding="0" width="100%" align="left" border="0">
														<tr>
															<td class="ui_text_rt" width="80">车牌号</td>
															<td><input type="text" class="ui_select01"  id="car_number" /></td>
														</tr>
														<tr>
															<td class="ui_text_rt">车类型</td>
															<td class="ui_text_lt">
																<select id="car_type"  class="ui_select01">
																	<option value="">--请选择--</option>
																	<option value="起重车">起重车</option>
																	<option value="加长挂车">加长挂车</option>
																	<option value="后八轮">后八轮</option>
																	<option value="前四后八">前四后八</option>
																	<option value="前四后十">前四后十</option>
																	<option value="高栏车">高栏车</option>
																	<option value="半挂车">半挂车</option>
																	<option value="翻斗车">翻斗车</option>
																	<option value="集装箱">集装箱</option>
																	<option value="保温车">保温车</option>
																	<option value="冷藏车">冷藏车</option>
																</select>
															</td>
														</tr>

														<tr>
															<td class="ui_text_rt" width="80">车长</td>
															<td><input type="number" min="0" class="ui_select01" id="car_length"></td>
														</tr>
														<tr>
															<td class="ui_text_rt" width="80">载重</td>
															<td><input type="number" min="0" class="ui_select01" id="bear_weight"></td>
														</tr>
														<tr>
															<td class="ui_text_rt" width="80">注册时间</td>
															<td><input type="date" class="ui_select01" id="register_time"></td>
														</tr>
														<tr>
															<td class="ui_text_rt" width="80">车的总数量</td>
															<td><input type="number" min="0" class="ui_select01" id="all_account"></td>
														</tr>
														<tr>
															<td class="ui_text_rt" width="80">使用中的数量</td>
															<td><input type="number" min="0" class="ui_select01" id="using_account"></td>
														</tr>
														<tr>
															<td class="ui_text_rt" width="80">出发地</td>
															<td><input type="text"  class="ui_select01" id="start_station"></td>
														</tr>
														<tr>
															<td class="ui_text_rt" width="80">目的地</td>
															<td><input type="text" class="ui_select01" id="destination_station"></td>
														</tr>

													</table>
													<!--富文本编辑器-->
													<div>
														<h3 class="text-center">车辆简介</h3>
														<div id="editor" type="text/plain" style="width:1024px;height:500px;"></div>
														<div id="btns">
															<div>
																<button type="button" class="btn btn-default center-block" onclick="getContent()">发布</button>
															</div>
														</div>
													</div>

												</div>
											</div>
										</form>
									</div>
								</div>
							</div>



						</div>

				</div>



			</div>
		</div>
	</section>
	
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="js/bootstrap.min.js"></script>

	<script type="text/javascript">

		//实例化编辑器
		//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
		var ue = UE.getEditor('editor');


		function isFocus(e){
			alert(UE.getEditor('editor').isFocus());
			UE.dom.domUtils.preventDefault(e)
		}
		function setblur(e){
			UE.getEditor('editor').blur();
			UE.dom.domUtils.preventDefault(e)
		}
		function insertHtml() {
			var value = prompt('插入html代码', '');
			UE.getEditor('editor').execCommand('insertHtml', value)
		}
		function createEditor() {
			enableBtn();
			UE.getEditor('editor');
		}
		function getAllHtml() {
			alert(UE.getEditor('editor').getAllHtml())
		}
		function getContent() {
			var content =UE.getEditor('editor').getContent();
			var  car_number=$("#car_number").val();
			var  car_type=$("#car_type").val();
			var  car_length=$("#car_length").val();
			var  bear_weight=$("#bear_weight").val();
			var  register_time=$("#register_time").val();
			var  all_account=$("#all_account").val();
			var  using_account=$("#using_account").val();
			var  destination_station=$("#destination_station").val();
			var  start_station=$("#start_station").val();
			alert(register_time);
			 $.ajax({   
					type : "post",
					url : "/insertCarInfo",
					data : {content:content,car_number:car_number,car_type:car_type,car_length:car_length,
						bear_weight:bear_weight,register_time:register_time,all_account:all_account,using_account:using_account,
						destination_station:destination_station,start_station:start_station},
					success : function(data){
						alert(data);
					},
					error: function (XMLHttpRequest, textStatus, errorThrown) {
						alert("发布失败,请检查是否存在未填写!");
						alert(textStatus);
					}
		 
				}); 
		}
		function getPlainTxt() {
			var arr = [];
			arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
			arr.push("内容为：");
			arr.push(UE.getEditor('editor').getPlainTxt());
			alert(arr.join('\n'))
		}
		function setContent(isAppendTo) {
			var arr = [];
			arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
			UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
			alert(arr.join("\n"));
		}
		function setDisabled() {
			UE.getEditor('editor').setDisabled('fullscreen');
			disableBtn("enable");
		}

		function setEnabled() {
			UE.getEditor('editor').setEnabled();
			enableBtn();
		}

		function getText() {
			//当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
			var range = UE.getEditor('editor').selection.getRange();
			range.select();
			var txt = UE.getEditor('editor').selection.getText();
			alert(txt)
		}

		function getContentTxt() {
			var arr = [];
			arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
			arr.push("编辑器的纯文本内容为：");
			arr.push(UE.getEditor('editor').getContentTxt());
			alert(arr.join("\n"));
		}
		function hasContent() {
			var arr = [];
			arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
			arr.push("判断结果为：");
			arr.push(UE.getEditor('editor').hasContents());
			alert(arr.join("\n"));
		}
		function setFocus() {
			UE.getEditor('editor').focus();
		}
		function deleteEditor() {
			disableBtn();
			UE.getEditor('editor').destroy();
		}
		function disableBtn(str) {
			var div = document.getElementById('btns');
			var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
			for (var i = 0, btn; btn = btns[i++];) {
				if (btn.id == str) {
					UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
				} else {
					btn.setAttribute("disabled", "true");
				}
			}
		}
		function enableBtn() {
			var div = document.getElementById('btns');
			var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
			for (var i = 0, btn; btn = btns[i++];) {
				UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
			}
		}

		function getLocalData () {
			alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
		}

		function clearLocalData () {
			UE.getEditor('editor').execCommand( "clearlocaldata" );
			alert("已清空草稿箱")
		}
	</script>
</body>
</html>